body {
  margin: 0px;
  background-color: rgb(64, 0, 66);
}
h1 {
  font-family: "Mistral";
  text-align: center;
  margin-top: 0px;
  color: #fff;
}
p {
  font-family: "Courier New";
  color: #fff;
  text-align: center;
}
b {
  font-family: "Trebuchet MS";
}
#thanks h2 {
  color: chartreuse;
  font-family: "Trebuchet MS";
}
i {
  font-family: "Courier New";
  color: chartreuse;
}
h2 {
  font-family: "Trebuchet MS";
  color: #fff;
  text-align: center;
  margin: 0px;
  font-size: 15px;
}
header {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 5px 20px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.link {
  margin-top: 50px;
  font-family: "Trebuchet MS";
  margin-left: 15px;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}
.link:hover {
  background-color: rgb(180, 180, 180);
}
.link:active {
  transition: 1ms;
  background-color: rgb(122, 122, 122);
}
.butt {
  text-align: center;
  display: inline-block;
  font-family: "Mistral";
  color: black;
  text-decoration: none;
  background-color: #fff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 45px;
  margin-bottom: 10px;
  width: 25%;
  transition: 0.5s;
}
.butt:hover {
  box-shadow: 0 5px 20px black;
}
.butt:active {
  transition: 1ms;
  color: #fff;
  background-color: darkgreen;
  box-shadow: 0 1px 10px black;
}
.winButton {
  padding-top: 5px;
  float: right;
  width: auto;
  padding-left: 10px;
  cursor: pointer;
  padding-right: 10px;
  transition: 0.5s;
}
.winButton:hover {
  background-color: rgb(184, 182, 182);
}
.winButton:active {
  transition: 1ms;
  background-color: rgb(133, 133, 133);
}
.toolbar {
  display: inline-block;
}
.toolbar-actions {
  display: inline;
}
.toolbar-drag {
    display: inline-block;
  width: 86.8%;
  margin: 0px;
  -webkit-app-region: drag;
  content: " ";
  flex: 1;
  margin-bottom: 10px;
}
#favicon {
  width: 14px;
  margin-left: 5px;
  margin-top: 5px;
}
#conclusion {
  width: auto
}
#thanks {
  text-align: center;
  border-radius: 10px;
  background-color: black;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s;
}
#thanks:hover {
  box-shadow: 0 5px 20px black;
}
#thanks:active {
  transition: 1ms;
  box-shadow: 0 1px 10px black;
}