@font-face {
    font-family: 'Mistral';
    src: url('./font/Mistral/MISTRAL.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gill Sans';
    src: url('./font/GillSans/GILSANUB.TTF');
    src: url('./font/GillSans/GILLUBCD.TTF');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Courier New';
    src: url('./font/CourierNew/cour.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Courier New';
    src: url('./font/CourierNew/courbd.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Courier New';
    src: url('./font/CourierNew/courbi.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Courier New';
    src: url('./font/CourierNew/couri.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('./font/TrebuchetMS/trebuc.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('./font/TrebuchetMS/trebucbd.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('./font/TrebuchetMS/trebucbi.ttf');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Trebuchet MS';
    src: url('./font/TrebuchetMS/trebucit.ttf');
    font-weight: normal;
    font-style: italic;
}