pre {
    color: white;
    font-family: 'Courier New'
}
.form {
    border-radius: 5px;
    background-color: white;
    margin-bottom: 5px;
    border: none;
    transition: 0.5s;
}
.form:hover {
    box-shadow: 0 5px 20px black;
}
.form:active {
    transition: 1ms;
    box-shadow: 0 1px 10px black;
}
#num, #from, #to {
    text-align: center;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}
#num:hover, #from:hover, #to:hover {
    box-shadow: 0 5px 20px black;
}
#num:active, #from:active, #to:active {
    transition: 1ms;
    box-shadow: 0 1px 10px black;
}